doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 회원가입
	body
		form(name="joinForm" method="post" action="/user/save")
			div
				input(type="text" name="userid" placeholder="사용자 아이디")
			div
				input(type="text" name="age" placeholder="사용자 나이")
			div
				button 저장