doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 회원수정
	body
		form(name="joinForm" method="post" action="/user/save" enctype="application/x-www-form-urlencoded")
			input(type="hidden" name="_method" value="put")
			input(type="hidden" name="_id" value=`${result._id}`)
			div
				input(type="text" name="userid" placeholder="사용자 아이디" readonly value=`${result.userid}`)
			div
				input(type="text" name="age" placeholder="사용자 나이" value=`${result.age}`)
			div
				button 저장